{% extends "master.html" %}

{% block title %}About Us - CalcX{% endblock %}

{% block content %}
<div class="container mt-4 flex-grow-1"> <!-- Permitir que el contenedor crezca -->
    <h1>About Us</h1>
    <p>Welcome to CalcX, where innovation meets technology.</p>

    <!-- TEAM SECTION -->
    <div class="my-5">
        <h2 class="text-center mb-4">Meet Our Team</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <img src="https://via.placeholder.com/150" alt="Team Member 1" class="card-img-top rounded-circle mx-auto mt-3" style="width: 80px; height: 80px;">
                    <div class="card-body">
                        <h5 class="card-title">Andrés</h5>
                        <p class="card-text">Lead Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <img src="assets/Himno-de-Tailandia.jpg" alt="Team Member 2" class="card-img-top rounded-circle mx-auto mt-3" style="width: 80px; height: 80px;">
                    <div class="card-body">
                        <h5 class="card-title">Silvio</h5>
                        <p class="card-text">Project Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <img src="https://via.placeholder.com/150" alt="Team Member 3" class="card-img-top rounded-circle mx-auto mt-3" style="width: 80px; height: 80px;">
                    <div class="card-body">
                        <h5 class="card-title">Haley</h5>
                        <p class="card-text">UX/UI Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"></div>
                <div class="card text-center">
                    <img src="https://via.placeholder.com/150" alt="Team Member 3" class="card-img-top rounded-circle mx-auto mt-3" style="width: 80px; height: 80px;">
                    <div class="card-body">
                        <h5 class="card-title">Samuel</h5>
                        <p class="card-text">El más prron</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- FOOTER -->
<footer class="text-center py-4 bg-body-tertiary"><p>&copy; 2024 My Algebra Calculator</p></footer>

{% endblock %}
